@import './_functions.scss';
@import './_variables.scss';

@import './_mixins.scss';
@import './common-style.scss';

@import './components/_btn.scss';
@import './components/p-rules';
@import './components/p-videos';
