/*******************************
 * Colors
 *******************************/

$primary: #010101 !default;
$segundary: #3C3DAB !default;
$ketchup: #CA2F1F !default;
$lightKetchup: #F7D6D0 !default;
$mayo: #ECD416 !default;
$lightMayo: #F8F8E0 !default;


$txt-primary: #F8EFCF !default;
$txt-segundary: #87D9F4 !default;

/*******************************
 * General
 *******************************/
$base-size-s: rem(14);
$base-size-m: rem(16);
$base-size-l: rem(20);
$base-size-xl: rem(35);
$base-size-xxl: rem(40);

/**********************************
 * Header
 *********************************/
