* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $primary;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  font-weight: inherit;
  font-family: fontBurgerQuizz;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  cursor: pointer;
  background-color: transparent;
  margin: 0.1em;
  padding: 0.1em;
  border-width: 0px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  &:focus {
    outline: none;
  }
}
